/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* The colour scheme to use is:  
FAF3DD
C8D5B9
8FC0A9
#c0968f for contrast*/

@keyframes heartbeat {
    0%   {transform: scale(1);}
    20%  {transform: scale(1.2);}
    50%  {transform: scale(0.8);}
    75% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@keyframes shaking {
    0%   {transform:rotate(0deg);}
    20%  {transform:rotate(30deg);}
    50%  {transform:rotate(-30deg);}
    75% {transform:rotate(30deg);}
    100% {transform:rotate(0deg);}
}  

#contact-bar{
    display: block;
    position: fixed;
    bottom:40vh;
    left: 8vw;
    width: 1%;
}

#contact-bar > .navButts {
    margin: 5px 0px;
    padding: 0px;
}

#contact-bar>a:hover{
    color:#FAF3DD;
    animation-name: shaking;
    animation-duration: 1.5s;
}

#navigation>a:hover{
    color:#FAF3DD;
    /* transition-duration: 1s;
    transform: scale(1.2); */
    animation-name: heartbeat;
    animation-duration: 1s;
}

.bouts{
    text-align: center;
}
.technologies{
    display: inline-block;
}
 .logos{
     height:20px;
 }
body{
     background-color: #8FC0A9;
 }

.faceThumbnail{
     width: 30vh;
     float:left;
     margin:0 2vw;
 }

html {
    scroll-behavior: smooth;

  }
.landing{
     width: 100%;
     height: 100vh;
     color: #FAF3DD;
     /* #C8D5B9 or #FAF3DD */
 }
.projects{
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #FAF3DD;
}
.about{
    width: 100%;
    height: 100vh;
    /* text-align: center; */
    color: #FAF3DD;
}
#navigation{
    position: fixed;
    bottom:2%;
    width:10vw;
    left:44.5vw;
    text-align: center;
    z-index: 1;
}
#myNavBarCore{
    padding: 0.25rem;
}

.navButts{
    display: inline;
    margin:5px;
    padding:20px;
    color: #C8D5B9;
}
.centering{
    text-align: left;
    position: relative;
    top:25%;
}

/* this is where for projects transition */
.projects-holder{
    margin: 0px 10px;
    padding: 0px 10px;
    text-align: center;
    position: relative;
}

.projects-indv{
    display: inline-block;
    margin: 12px 15px;
    box-sizing: 30%;
    font-size: 12px;
}

figure {
    float: left;
    /* height: 15.3em; */
    height:28vh;
    margin: 1.5em;
    /* width: 18em; */
    width: 17vw;
    -webkit-transform: perspective(500);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: .5s;
}
figure:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(8em);
}
figure > img {
    background-color: #111111;
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
    display: block;
    height: 100%;
    -webkit-transition: .5s;
}
figure:hover img {
    box-shadow: none;
}
figcaption {
    background-color: #C8D5B9;
    color: #FAF3DD;
    padding: 1.5em;
    height: 16em;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 0;
    -webkit-transition: .5s;
}
figure:hover figcaption {
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
}
h3 {
    font-weight: bold;
}

figcaption > .projectHeader {
    font-size: 20px;
    font-weight: 600;
}